**/__pycache__
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/README.md
**/passport_example.txt
**/TODO.txt
**/* copy.py
**/*-env
**/perseus_wes_api.yml
**/perseus_wes_api_v2.tar.gz
**/archive
**/app_on_azure_venv
**/staging
